.todo-container {
    max-width: 1000px;
    margin: 50px auto 0;
    border: 1px solid #000;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}

.form_input {
    display: block;
    border: 1px solid #000;
    height: 40px;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 20px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
}

.form_button {
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.todo-list {
    border: 1px solid #000;
    padding: 20px;
    margin-top: 30px;
}

.todo-list__item {
    border: 1px solid #000;
    padding: 10px;
}

.todo-list__item:not(:last-child) {
    margin-bottom: 10px;
}