body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}
